{% extends "base.html" %}

{% block title %} marker {% endblock %}

{% block map %}
<div id="section"></div>
   <br>
    姓名:
    <input type="text" name="firstname" value="Mickey">
    <br>
    电话:
    <input type="text" name="firstname" value="Mickey">
    <br>
    住址:
    <input type="text" name="lastname" value="Mouse">
    <br><br>
    zipcode:
    <input type="text" name="lastname" value="Mouse">
    <br><br>
    
    <input type="submit" value="Submit" onclick="submit()">

      </div>
      <script>
        function submit() {
          //将用户数据存入数据库.
        }
      </script>
{% endblock %}
