<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #form {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  物品名称:
  <input type="text" name="firstname" value="Mickey">
  <br>
  物品品牌:
  <input type="text" name="firstname" value="Mickey">
  <br>
  物品价值:
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  物品描述:
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  地址:
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  张贴时长:
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit" onclick="submit()">

    </div>
    <script>
      function submit() {
        //根据用户数据存入数据库，并添加pin，返回marker.html，显示更新的地图
      }
    </script>

  </body>
</html>