<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #form {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<h1>please enter info</h1>
    <form method="post" action="/create">
        <table>
            <tr>
                <td>
                    title<input type="text" name="title">
                </td>
            </tr>
            <tr>
                <td>
                    message<input type="text" name="message">
                </td>
            </tr>
            <tr>
                <td>
                    cordinates<input type="text" name="cordinates">
                </td>
            </tr>
            <tr>
                <td>
                    sell or buy <input type="text" name="action_type">
                </td>
            </tr>
        </table>
        <input type="submit">

    </form>
</body>
</html>